<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Establishment</title>

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../assets/edit-establishment.css" rel="stylesheet">
</head>

<body>
<header>
        <h1 class="site-logo"><a href="/" class="logo replace">Food Review</a></h1>
        <nav class="main-nav">
            <ul class="navitems">
                <li><a href="discover.html">Discover</a></li>
          <li><a href="profile.html">Profile</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register</a></li>
                <li>
                    <form action="/search" method="GET">
                        <input type="text" name="query" placeholder="Search..." />
                        <button type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">Edit Establishment</h4>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#general">General</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#social-links">Social Links</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#delete">Delete Establishment</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="general">
                            <div class="card-body media align-items-center">
                                <img src="https://popeyes.ph/img/Online-Menu-2023-03.jpg" alt="Restaurant Image" class="d-block ui-w-80">
                                <div class="media-body ml-4">
                                    <label class="btn btn-outline-primary">
                                        Upload new photo
                                        <input type="file" class="account-settings-fileinput">
                                    </label> &nbsp;
                                    <button type="button" class="btn btn-default md-btn-flat">Reset</button>
                                    <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                                </div>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Establishment Name</label>
                                    <input type="text" class="form-control" value="Restaurant A">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Address</label>
                                    <input type="text" class="form-control" value="123 Food Street, Gourmet City, Yummyland">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Tags</label>
                                    <input type="text" class="form-control" value="Asian, Fried Chicken, Noodles">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="social-links">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Twitter</label>
                                    <input type="text" class="form-control" value="https://twitter.com/restaurant">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Facebook</label>
                                    <input type="text" class="form-control" value="https://www.facebook.com/restaurant">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Instagram</label>
                                    <input type="text" class="form-control" value="https://www.instagram.com/restaurant">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="delete">
                            <div class="card-body pb-2">
                                <h6 class="mb-4">Delete Establishment</h6>
                                <p class="text-danger">Warning: This action cannot be undone. This will permanently delete the establishment.</p>
                                <button type="button" class="btn btn-danger">Delete Establishment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right mt-3">
            <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
