/* General styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Styles */
header {
  background-color: #2E8B57; 
  color: white;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header .logo img {
  height: 50px;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #90EE90; 
}

/* Hero Section Styles */
.hero {
  background-color: #98FB98; 
  text-align: center;
  padding: 50px 20px;
}

.hero h1 {
  margin: 0;
  font-size: 36px;
  color: White; 
}

.hero p {
  font-size: 18px;
  margin: 10px 0 0;
}


.highlights {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  background-color: white;
}

.highlight {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.highlight:hover {
  transform: translateY(-10px);
}

.highlight img {
  width: 100%;
  height: auto;
}

.highlight h2 {
  margin: 10px;
  font-size: 24px;
  color: #2E8B57; 
}

.highlight p {
  margin: 10px;
  color: #666;
}

.discover {
  padding: 20px;
}

.section-heading {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: calc(33.333% - 40px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.card-content p {
  margin: 0;
  color: #555;
}

.card:hover {
  transform: translateY(-10px);
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.social img {
  width: 24px;
  margin: 0 10px;
}

footer p {
  margin: 10px 0 0;
}

/* Responsive styles */
@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }

  .navitems {
    flex-direction: column;
  }

  .navitems li {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .hero {
    padding: 50px 20px;
  }

  .hero h1 {
    font-size: 2em;
  }

  .hero p {
    font-size: 1em;
  }
}
